{% extends 'index_template.html' %}
{% load static static %}

{% block head %}

    <meta name="description" content="Viva uma experiência náutica. Alugar um barco é simples: escolha a cidade, a data, reserve a lancha ou veleiro que gostar e é só embarcar! Conheça a Bnboats!">
    <meta name="keywords" content="aluguel,barcos,iates,lanchas,veleiros,traineiras,passeios,angra,paraty,santos,guaruja,ilhas,pesca,aluguel de barco, aluguel de lancha">

    <link rel="stylesheet" href="{% static 'css/css_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_bview.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_results.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_how_it_works.css' %}">
    

{% endblock %}

{% block title %} {{ Title }} {% endblock %}

{% block body %}

    <!-- #####   Image top and search field   ##### -->
    <div class="" style="position: relative; margin-top: 0;" id="welcome_div_parent">

        <div id="welcome_div">
        </div>

        <div id="welcome_search_div">
            <form method="post">
                {% csrf_token %}
                <div class="" style="position: relative;height: 50px;">
                    <i class='fas fa-map-marker-alt city_search_icon'></i>
                    <input type="text" class="form-control autocomplete home_filter_city" id="home_filter_city"
                           name="home_filter_city" value="" placeholder="pesquisar" onchange="UpdateSearchField(this.id)"
                            autocomplete="off">
                    <input type="submit" class="home_filter_submit" name="home_filter_submit" id="home_filter_submit"
                           value="" onclick="ValidateCity(this.id)">
                    <input type="hidden" class="search_city_name" name="search_city_name" id="home_search_city_name" value="">
                </div>
            </form>
        </div>

        <div class="home_back_img" id="home_back_img"></div>
    </div>
    <div id="margin">
        <h2 style="margin-top: 50px;" id="titles" class="my-4">ALUGAR BARCO É FACIL</h2>
    </div>
    <div class="template">
        <div class="infos">
            <div class="city">
                <h2>1. ESCOLHA A CIDADE</h2>
                <img src="{% static 'media/admin/praia.jpg' %}">
                <p>Temos barcos em varios lugares do Brasil. Digite a cidade que gostaria de passear para ver as opções de embarcações.</p>
            </div>
            <div class="boat">
                <h2>2. ENCONTRE O BARCO</h2>
                <img src="{% static 'media/admin/bote.png' %}">
                <p>Ao escolher confira se o barco tem tudo o que você precisa. Se tiver dúvida, é so clicar no "Fale com o Capitão" para perguntar diretamente ao proprietário.</p>
            </div>
            <div class="date">
                <h2>3. SELECIONE A DATA</h2>
                <img src="{% static 'media/admin/praia.jpg' %}">
                <p>Quanto tempo quer passar a bordo? Exitem opções para quem quer passar 2 hora e até semanas embarcado. Escolha o tempo de passeio, depois defina a data e a quantidade de pessoas.</p>
            </div>
            <div class="embarque">
                <h2>4. RESERVE O EMBARQUE</h2>
                <img src="{% static 'media/admin/bote.png' %}">
                <p>Faça seu cadastro e reserve a embarcação pagando diretamente no site. Assim que seu pedido for aceito você receberá o telefone do capitão com os detalhes para o embarque.</p>
            </div>
        </div>    
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active"></div>
            <h2 id="titles" class="my-4">NOSSOS PRINCIPAIS BARCOS</h2>
                <div class="row" style="justify-content: center;">
                    <div class="col-md-3 boat_single_div"style="padding: 1%;" >
                        <div class="results_div_item"
                            ic-trigger-on="scrolled-into-view"
                            ic-target="#search_results"
                            ic-indicator="#indicator"
                        >
                            <img class="results_div_img img-fluid" src="{% static 'media/admin/ilhabela3.jpg' %}" alt="boat"
                                    onerror="this.src='{% static 'media/admin/semimagem.jpg' %}'">
                            <i class="far fa-heart heart" id="heart_{{ boat.pk }}"
                                onmouseenter="$('#'+this.id).removeClass('far').addClass('fas');"
                                onmouseleave="if (!($('#'+this.id).hasClass('added'))){$('#'+this.id).removeClass('fas').addClass('far');}"
                                onclick="event.preventDefault();event.stopPropagation();event.stopImmediatePropagation();AddToFavorite(this.id, '{{ user.is_authenticated }}');"></i>
                                <span><strong>R$ 4147,50</strong>/8h</span>
                        </div>
                        <p class="fontSizeOneive w-100" style="margin-top: 20px;">Aluguel de Lancha 36' Ilhabela</p>
                        <div class="results_div_owner_pic">
                            <img src="" alt="owner"
                                    onerror="this.src='{% static 'media/admin/default_profile.png' %}'">
                        </div>
                        <div class="container"> <!-- results_div_owner_data -->
                            <div class="row">
                                <!-- OWNER NAME -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!--results_div_owner_name -->
                                    <p class="fontSizeOneTwo owner_name_p">Marco Ferrara</p>
                                </div>
                                <!-- BOAT CAPACITY -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!-- results_div_capacity -->
                                    <p class="fontSizeOneTwo"><i class="fas fa-users"></i> até 10 pessoas</p>
                                </div>
                            </div>
                            <div class="row">
                                <!-- OWNER REVIEW SCORE -->
                                <div class="col-xl-6" style="display: flex;padding-left: 0;"> <!-- results_div_owner_review -->
                                    <div class="results_div_owner_review" score="{{ boat.review_score }}"
                                        score-count="{{ boat.reviews_count }}">
                                        <img src="{% static 'media/admin/shat.png' %}" alt="captain" style="width: 20px;">
                                    </div>
                                </div>
                                <!-- BOAT PRICE PER PERSON -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!-- results_div_price_pperson -->
                                    <div class="results_subdiv_price_pperson">
                                        <p><strong>R$ 414,00</strong> /pessoa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 boat_single_div" onclick="$('#boat_view_{{ boat.pk }}').submit()"  id="boat_{{ boat.pk }}" style=" padding: 1%;">
                        <div class="results_div_item"
                        {% if forloop.last and boats.has_next %}
                            ic-trigger-on="scrolled-into-view"
                            ic-target="#search_results"
                            ic-indicator="#indicator"
                        {% endif %}
                        >
                            <img class="results_div_img img-fluid" src="{% static 'media/admin/ilhabela2.jpg' %}" alt="boat"
                                    onerror="this.src='{% static 'media/admin/semimagem.jpg' %}'">
                            <i class="far fa-heart heart" id="heart_{{ boat.pk }}"
                                onmouseenter="$('#'+this.id).removeClass('far').addClass('fas');"
                                onmouseleave="if (!($('#'+this.id).hasClass('added'))){$('#'+this.id).removeClass('fas').addClass('far');}"
                                onclick="event.preventDefault();event.stopPropagation();event.stopImmediatePropagation();AddToFavorite(this.id, '{{ user.is_authenticated }}');"></i>
                                <span><strong>R$ 2133,00</strong>/4h</span>
                        </div>
                        <p class="fontSizeOneive w-100" style="margin-top: 20px;">Aluguel de Lancha 27' Ilhabela</p>
                        <div class="results_div_owner_pic">
                            <img src="" alt="owner"
                                    onerror="this.src='{% static 'media/admin/default_profile.png' %}'">
                        </div>
                        <div class="container"> <!-- results_div_owner_data -->
                            <div class="row">
                                <!-- OWNER NAME -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!--results_div_owner_name -->
                                    <p class="fontSizeOneTwo owner_name_p">Paulo Castan</p>
                                </div>
                                <!-- BOAT CAPACITY -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!-- results_div_capacity -->
                                    <p class="fontSizeOneTwo"><i class="fas fa-users"></i> até 6 pessoas</p>
                                </div>
                            </div>
                            <div class="row">
                                <!-- OWNER REVIEW SCORE -->
                                <div class="col-xl-6" style="display: flex;padding-left: 0;"> <!-- results_div_owner_review -->
                                    <div class="results_div_owner_review" score="{{ boat.review_score }}"
                                        score-count="{{ boat.reviews_count }}">
                                        <img src="{% static 'media/admin/shat.png' %}" alt="captain" style="width: 20px;">
                                    </div>
                                </div>
                                <!-- BOAT PRICE PER PERSON -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!-- results_div_price_pperson -->
                                    <div class="results_subdiv_price_pperson">
                                        <p><strong>R$ 355,00</strong> /pessoa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 boat_single_div" onclick="$('#boat_view_{{ boat.pk }}').submit()"  id="boat_{{ boat.pk }}" style=" padding: 1%;">
                        <div class="results_div_item"
                        {% if forloop.last and boats.has_next %}
                            ic-trigger-on="scrolled-into-view"
                            ic-target="#search_results"
                            ic-indicator="#indicator"
                        {% endif %}
                        >
                            <img class="results_div_img img-fluid" src="{% static 'media/admin/background.jpg' %}" alt="boat"
                                    onerror="this.src='{% static 'media/admin/semimagem.jpg' %}'">
                            <i class="far fa-heart heart" id="heart_{{ boat.pk }}"
                                onmouseenter="$('#'+this.id).removeClass('far').addClass('fas');"
                                onmouseleave="if (!($('#'+this.id).hasClass('added'))){$('#'+this.id).removeClass('fas').addClass('far');}"
                                onclick="event.preventDefault();event.stopPropagation();event.stopImmediatePropagation();AddToFavorite(this.id, '{{ user.is_authenticated }}');"></i>
                                <span><strong>R$ 5806,50</strong>/8</span>
                        </div>
                        <p class="fontSizeOneive w-100" style="margin-top: 20px;">Aluguel de Escuna 70' Ilhabela</p>
                        <div class="results_div_owner_pic">
                            <img src="" alt="owner"
                                    onerror="this.src='{% static 'media/admin/default_profile.png' %}'">
                        </div>
                        <div class="container"> <!-- results_div_owner_data -->
                            <div class="row">
                                <!-- OWNER NAME -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!--results_div_owner_name -->
                                    <p class="fontSizeOneTwo owner_name_p">Ricardo Cretella</p>
                                </div>
                                <!-- BOAT CAPACITY -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!-- results_div_capacity -->
                                    <p class="fontSizeOneTwo"><i class="fas fa-users"></i> até 98 pessoas</p>
                                </div>
                            </div>
                            <div class="row">
                                <!-- OWNER REVIEW SCORE -->
                                <div class="col-xl-6" style="display: flex;padding-left: 0;"> <!-- results_div_owner_review -->
                                    <div class="results_div_owner_review" score="{{ boat.review_score }}"
                                        score-count="{{ boat.reviews_count }}">
                                        <img src="{% static 'media/admin/shat.png' %}" alt="captain" style="width: 20px;">
                                    </div>
                                </div>
                                <!-- BOAT PRICE PER PERSON -->
                                <div class="col-xl-6" style="padding-left: 0;"> <!-- results_div_price_pperson -->
                                    <div class="results_subdiv_price_pperson">
                                        <p><strong>R$ 59,00</strong> /pessoa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>  
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
    </div>
    <div id="text">
        <a href="">VER MAIS OPÇÕES</a>
    </div>
    <div class="container pb-4">
            <div class="row">
                <div class="col-12">
                    <h2 id="titles" class="my-4">DESTAQUES BLOG</h2>
                    <div class="row">
                            <!-- Blog Post -->
                            <div id="blog" class="col-md-6 d-flex align-items-stretch">
                                <div class="card mb-4">
                                        <img class="card-img-top" src="{% static 'media/admin/background.jpg' %}" alt="Blog">
                                    <div class="card-body d-flex flex-column">
                                        <h3 class="card-title">Melhores ilhas para você conhecer em Paraty</h3>
                                        <p class="card-text">Além de ser uma das rotas mais bonitas para se visitar no país, Paraty ainda nos reserva belezas pouco exploradas. A chamada Costa Verde (extremo Sul do litoral do Rio ...</p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary mt-auto">Ler a matéria completa &rarr;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="card mb-4">
                                        <img class="card-img-top" src="{% static 'media/admin/malas.jpg' %}" alt="Blog">
                                    <div class="card-body d-flex flex-column">
                                        <h3 class="card-title">5 coisas para fazer nas férias</h3>
                                        <p class="card-text">Está chegando a época do ano em que temos alguns dias para descansar e fazer o que gostaríamos de ter feito o resto do ano mas não deu tempo: as ...</p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary mt-auto">Ler a matéria completa &rarr;</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </div>

    <div>
        <div id="text_div"><h4>ACELERADORAS</h4></div>
        <div class="colaboradores">
        <img class="card-img-top" src="{% static 'media/admin/gbg.jpg' %}" alt="Blog" style="width: 13%;">
        <img class="card-img-top" src="{% static 'media/admin/startup.jpg' %}" alt="Blog" style="width: 6%;">
        </div>
    </div>

    
    

    <!-- list of cities to load in the search input -->
    <input type="hidden" id="all_cities" value="{{ cityList }}">
    <input type="hidden" id="signin" value="{{ signin }}">

{% endblock %}

{% block body-after-js %}
    <script src="{% static 'js/js_home.js' %}"></script>
    <script type="application/javascript">

        if ($('#utm_source').val() === "lomadee") {
            var lomadee_datalayer = { "page" : "home" };

            var lomadeeTag = document.createElement('script');
            lomadeeTag.type = 'text/javascript';
            lomadeeTag.src = "//secure.lomadee.com/a/6414.js";
            document.getElementsByTagName('body')[0].appendChild(lomadeeTag);
        }

        if ($('#signin').val() === "True") {
            modalSignIn();
            $('#modal_login').modal("show");
        }
    </script>
{% endblock %}