{% extends 'index_template.html' %}
{% load static static %}

{% block head %}

    <meta name="description" content="Viva uma experiência náutica. Alugar um barco é simples: escolha a cidade, a data, reserve a lancha ou veleiro que gostar e é só embarcar! Conheça a Bnboats!">
    <meta name="keywords" content="aluguel,barcos,iates,lanchas,veleiros,traineiras,passeios,angra,paraty,santos,guaruja,ilhas,pesca,aluguel de barco, aluguel de lancha">

    <link rel="stylesheet" href="{% static 'css/css_home.css' %}">
    

{% endblock %}

{% block title %} {{ Title }} {% endblock %}

{% block body %}

    <!-- #####   Image top and search field   ##### -->
    <div class="" style="position: relative; margin-top: 0;" id="welcome_div_parent">

        <div id="welcome_div">
        </div>

        <div id="welcome_search_div">
            <form method="post">
                {% csrf_token %}
                <div class="" style="position: relative;height: 50px;">
                    <i class='fas fa-map-marker-alt city_search_icon'></i>
                    <input type="text" class="form-control autocomplete home_filter_city" id="home_filter_city"
                           name="home_filter_city" value="" placeholder="pesquisar" onchange="UpdateSearchField(this.id)"
                            autocomplete="off">
                    <input type="submit" class="home_filter_submit" name="home_filter_submit" id="home_filter_submit"
                           value="" onclick="ValidateCity(this.id)">
                    <input type="hidden" class="search_city_name" name="search_city_name" id="home_search_city_name" value="">
                </div>
            </form>
        </div>

        <div class="home_back_img" id="home_back_img"></div>
    </div>

    <div class="container pb-4">
            <div class="row">
                <div class="col-12">
                    <h2 id="titles" class="my-4">DESTAQUES BLOG</h2>
                    <div class="row">
                            <!-- Blog Post -->
                            <div id="blog" class="col-md-6 d-flex align-items-stretch">
                                <div class="card mb-4">
                                        <img class="card-img-top" src="{% static 'media/admin/background.jpg' %}" alt="Blog">
                                    <div class="card-body d-flex flex-column">
                                        <h3 class="card-title">Melhores ilhas para você conhecer em Paraty</h3>
                                        <p class="card-text">Além de ser uma das rotas mais bonitas para se visitar no país, Paraty ainda nos reserva belezas pouco exploradas. A chamada Costa Verde (extremo Sul do litoral do Rio ...</p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary mt-auto">Ler a matéria completa &rarr;</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        Postado em 16 de Dezembro de 2019 por
                                        <a href="#">ana@perpetualbeta.com.br</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="card mb-4">
                                        <img class="card-img-top" src="{% static 'media/admin/malas.jpg' %}" alt="Blog">
                                    <div class="card-body d-flex flex-column">
                                        <h3 class="card-title">5 coisas para fazer nas férias</h3>
                                        <p class="card-text">Está chegando a época do ano em que temos alguns dias para descansar e fazer o que gostaríamos de ter feito o resto do ano mas não deu tempo: as ...</p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary mt-auto">Ler a matéria completa &rarr;</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        Postado em 11 de Dezembro de 2019 por
                                        <a href="#">ana@perpetualbeta.com.br</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </div>

    <div>
        <div id="text_div"><h4>Aceleradoras</h4></div>
        <div class="colaboradores">
        <img class="card-img-top" src="{% static 'media/admin/gbg.jpg' %}" alt="Blog" style="width: 15%;">
        <img class="card-img-top" src="{% static 'media/admin/startup.jpg' %}" alt="Blog" style="width: 7%;">
        </div>
    </div>

    
    

    <!-- list of cities to load in the search input -->
    <input type="hidden" id="all_cities" value="{{ cityList }}">
    <input type="hidden" id="signin" value="{{ signin }}">

{% endblock %}

{% block body-after-js %}
    <script src="{% static 'js/js_home.js' %}"></script>
    <script type="application/javascript">

        if ($('#utm_source').val() === "lomadee") {
            var lomadee_datalayer = { "page" : "home" };

            var lomadeeTag = document.createElement('script');
            lomadeeTag.type = 'text/javascript';
            lomadeeTag.src = "//secure.lomadee.com/a/6414.js";
            document.getElementsByTagName('body')[0].appendChild(lomadeeTag);
        }

        if ($('#signin').val() === "True") {
            modalSignIn();
            $('#modal_login').modal("show");
        }
    </script>
{% endblock %}