{% load static %}
<!doctype html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TZP45XF');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148361456-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-148361456-1');
    </script> -->

    <link rel="stylesheet" href="{% static 'framework/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block main-css %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'media/admin/favicon.png' %}" />

    <style type="text/css">
        .nav-btn {
            padding: 15px !important;
        }
        .top_menu_nav-link {
            font-size: 1.1rem !important;
        }
    </style>

    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="144278976952-vqk5aohpf9gae701ob90bu6s25fu9itr.apps.googleusercontent.com">-->

    {% block head %}

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '591014721303563');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=591014721303563&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>

    <script>

        // FACEBOOK LOGIN
        /*window.fbAsyncInit = function() {
            FB.init({
            appId      : '163727324296135',
            cookie     : true,
            xfbml      : true,
            version    : 'v5.0'
            });

            FB.AppEvents.logPageView();

        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));*/

    </script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=163727324296135&autoLogAppEvents=1"></script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZP45XF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="" id="body_div">

        {% include 'includes/top_bar.html' %}

        {% block body %}

        {% endblock %}

        <footer style="" class="row standHover" id="div_rodape">
            <div id="redes" class="col-md-3 redes-sociais">
                <a href="https://www.instagram.com/bnboats/" class="ig" target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCdGhGFVCJ8uOHNVCy93V86Q" class="yt" target="_blank"></a>
                <a href="https://www.facebook.com/bnboats/" class="fb" target="_blank"></a>
                <a href="mailto:contato@bnboats.com" class="ml" target="_blank"></a>
                <img id="logo_footer" src="{% static 'media/admin/logo_black.png' %} " width="200">
                <p><h4>A BnBoats é uma empresa que usa tecnologia e design para permitir que mais pessoas possam desfrutar de momentos a bordo.</h4></p>
                <p><h6>© Bnboats 2019 - Todos os direitos reservados. Zarpee Soluções Náuticas Ltda. </h6></p>
            </div>
            <div id="solution" class="col-md-3">
                <p><h4>Você pode confiar</h4></p>
                <p><h6>BnBoats é a melhor solução em aluguel de barcos no Brasil.</h6></p>
                <p></p>
                <p><h6>Encontre um barco para alugar por um preço bastante atraente ou monetize seu barco em um periodo em que estaria ocioso.</h6></p>
                <p><h6>A BnBoats facilita a dinâmica de alugar lanchas, veleiros, iates, barcos de pesca, botes, catamarãs e escunas. Escolha o seu tipo de barco para alugar, a duração do periodo de locação e entre em contato diretamente com o proprietário através do botão "Fale com o Capitão".</h6></p>
            </div>
            <div class="col-md-1"></div>
            <div id="refs" class="col-md-3">
                <a href="#"> Como funciona</a>
                <a href="#">Anuncie seu barco</a>
                <a href="#">Termos e condições</a>
                <a href="#">Política de Privacidade</a>
                <a href="#">Cadastra-se</a>
                <a href="#">Entre</a>
                <a href="#">Blog</a>
            </div>
            <div id="destiny" class="col-md-2">
                <p><h4>Destinos mais procurados</h4></p>
                <a href="#"> Porto Alegre</a>
                <a href="#"> Florianópolis</a>
                <a href="#"> Portobelo</a>
                <a href="#"> Penha</a>
                <a href="#"> Balneário Camburiú</a>
                <a href=""></a>
                <a href="#"> Santos</a>
                <a href="#"> São Vicente</a>
                <a href="#"> Guarujá</a>
                <a href="#"> Ilhabela</a>
                <a href="#"> São Sebastião</a>
                <a href="#"> Caraguatatuba</a>
                <a href="#"> Ubatuba</a>
                <a href=""></a>
                <a href="#"> Paraty</a>
                <a href="#"> Angra dos Reis</a>
                <a href="#"> Mangaratiba</a>
                <a href="#"> Rio de Janeiro</a>
                <a href="#"> Cabo Frio</a>
                <a href="#"> Búzios</a>
                <a href="#"> Arraial do cabo</a>
                <a href=""></a>
                <a href="#"> Brasilia</a>
                <a href="#"> Salvador</a>
                <a href="#"> Recife</a>
                <p>
                <a href="#">Todos os destinos</a>
                </p>
            </div>
        </footer>

    </div>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="{% static 'framework/jquery-3.4.1.js' %}"></script>

    <script src="{% static 'framework/popper.min.js' %}"></script>
    <script src="{% static 'framework/bootstrap.min.js' %}"></script>
    <script src="{% static 'framework/intercooler-1.2.3.min.js' %}"></script>
    <script src="{% static 'js/control.js' %}"></script>


    {% block body-after-js %}  {% endblock %}

</body>
</html>
