{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="top_header_menu" style="z-index:1000; height: 100px; ">
    <nav class="navbar navbar-expand-lg navbar-light w-100 h-100" id="menu_nav">
            <a class="navbar-brand" href="#">
                <img src="{% static 'media/admin/logo_black.png' %} " width="200"
                     class="d-inline-block align-top align-left" alt="bnboats" id="top_bar_logo">
            </a>
            <ul class="navbar-nav ml-auto flex-nowrap" style="margin-right: 10px; ">
                <li class="nav-item">
                    <a href="#" class="top_menu_nav-link">QUEM SOMOS</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="top_menu_nav-link">COMO FUNCIONA</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="top_menu_nav-link">BLOG</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="top_menu_nav-link" onclick="modalSignIn()" data-toggle="modal" data-target="#modal_login">ENTRAR</a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-grow-1 justify-content-center hideOnly" id="top_bar_search">
            <!-- list of cities to load in the search input -->
            <input type="hidden" id="all_cities" value="{{ cityList }}">
            <form method="post" style="width: 600px">
                {% csrf_token %}
                <div class="" style="position: relative;height: 50px;">
                    <i class='fas fa-map-marker-alt city_search_icon'></i>
                    <input type="text" class="form-control autocomplete home_filter_city" id="top_filter_city" value=""
                           placeholder="Buscar cidade de embarque"  onchange="UpdateSearchField(this.id)">
                    <input type="submit" class="home_filter_submit" id="topbar_filter_submit" value=""
                           onclick="ValidateCity(this.id)">
                    <input type="hidden" class="search_city_name" name="search_city_name" id="top_search_city_name" value="">
                </div>
            </form>
        </div>
    
    </nav>
</div>